





/********** CAROUSEL *********/
.carousel  {
   max-width: 1100px; /* ширина всего блока */
   margin: 50px auto;
   width:100%;

}
.carousel-wrapper {
   margin: 10px 30px; /* отступы для стрелок */
   overflow: hidden; 
   position:relative;

}
.carousel-items {
   width: 10000px; 
   position: relative; 
}
.carousel-block {
   float: left; 
   width: 300px;
   padding: 0px 25px 0px 25px; 
}
.carousel-block img{
    display:block;
}


.carousel-button-left a, .carousel-button-right a{
   width: 25px; 
   height: 36px; 
   position: relative;
   top: 80px; 
   cursor: pointer; 
   text-decoration:none;
}
.carousel-button-left a{
   float: left; 
   background: url(../img/arrow.png); 
}
.carousel-button-right a{
   float: right;
   background: url(../img/arrow2.png); 
}
/*********** CAROUSEL_END ***********/
/*********** TEMPLATE    ***********/
body
{
    margin:0px;
    padding:0px;
    background-color:#eee;
    font-size: 100%;
}
.cv
{
    margin:3px auto 20px auto;
    padding:10px 3% 30px 3%;
    width:25%;
    background-color:#fff;
    box-shadow:0px 0px 2px 1px #bbb;
}
h3
{
    font-size: 1.24rem;
    font-size: 18px; 
    text-align:center;
    font-weight:900;
}
.cv-photo
{
    margin:0 auto;
    height:120px;
    width:30%;
    background-image: url("../img/I.jpg");
    background-size:100% 100%;
    border-radius:5%;
}
.my_reasons
{
 margin:20px 0px 10px 0px;  
 background-color:#fff;
}
.my_contacts
{
    margin:20px 0px 10px 0px;
}
ul
{
    margin-top:30px;
}
p,
a,
li
{
    margin:5px 0px 5px 5px;
    font-size: 0.875rem;
}
.my_feedback
{
    margin:20px 0px 30px 0px;
}
/*********** TEMPLATE_END *********/